/* ==========================
   BLOG ARTICLE STYLE
   ========================== */


.blog-container {

  width: 90%;

  max-width: 900px;

  margin: auto;

}




/* Blog Header */


.blog-header {

  text-align: center;

  padding: 70px 0;

}



.blog-header h1 {

  font-size: 45px;

  color: #556b5d;

  margin-bottom: 15px;

}



.blog-header p {

  color: #666;

  font-size: 18px;

}





/* Main Article */


.blog-content {

  background: white;

  padding: 45px;

  border-radius: 15px;

  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.08);

  list-style: 1.8;

}



.blog-content img {

  width: 100%;

  border-radius: 15px;

  margin-bottom: 30px;

  display: block;
}



.blog-content h2 {

  color: #556b5d;

  margin-top: 40px;

  margin-bottom: 15px;

}



.blog-content h3 {

  color: #8a9a7b;

  margin-top: 25px;

}



.blog-content p {

  font-size: 17px;

  color: #444;

  margin-bottom: 20px;

}





/* Lists */

.benefits {
  list-style: none;
  padding-left: 0;
}

.benefits li {
  margin-bottom: 10px;
}

.benefits li::before {
  content: "✓ ";
  font-weight: bold;
}

ul {
  list-style-position: inside;
}


.blog-content ul {
  list-style-position: inside;
  padding-left: 0;
  margin-left: 0;
}

.blog-content li {
  margin-left: 0;
  padding-left: 0;
}






/* Affiliate Product Box */


.product-box {

  background: #f4f6ef;

  border-left: 5px solid #8a9a7b;

  padding: 25px;

  margin: 30px 0;

  border-radius: 10px;

}



.product-box h3 {

  color: #556b5d;

}



.product-btn {

  display: inline-block;

  background: #8a9a7b;

  color: white;

  padding: 12px 25px;

  border-radius: 25px;

  text-decoration: none;

  margin-top: 15px;

}



.product-btn:hover {

  background: #6f8062;

}





/* Etsy Product Box */


.etsy-box {

  background: #fff3e8;

  border-left: 5px solid #d97745;

  padding: 25px;

  margin: 30px 0;

  border-radius: 10px;

}



.product-btn,
.etsy-btn {

  font-weight: 600;

  display: inline-block;

  background: #d97745;

  color: white;

  padding: 12px 25px;

  border-radius: 25px;

  text-decoration: none;

  margin-top: 15px;

}





/* Quote / Highlight */


.highlight {

  background: #f7f7f2;

  padding: 25px;

  border-radius: 12px;

  font-style: italic;

  margin: 30px 0;

}





/* Mobile */


@media(max-width:768px) {


  .blog-content {

    padding: 25px;

  }


  .blog-header h1 {

    font-size: 32px;

  }


}